.git
.gitignore
.DS_Store
.idea
.vscode
.history
.pytest_cache
__pycache__/
*__pycache__/
*.pyc
*.pyo
*.pyd

trained_model/
test_model/
figs/
logs/
new_logs/
model/
videos/

*.job

venv/
.venv/
env/

build/
dist/
